<h3>Shuttle Control</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="padding-top: 2px; width: 100%">
			{{:helper.link('Activate Eye', 'arrowthickstop-1-e', {'camera' : 'toggle'})}}
		</div>
	</div>
</div>